body {
    /*background-color: #f8f9fa;*/
    margin: 0;
    padding: 0;
    background-image: url('back1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    display: flex;
    overflow: hidden; /* Permet d'éviter les problèmes de hauteur avec le float */
}
.left_card .right_card{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


.right_card {
    background-color: #fffaf1 ;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
   /* margin: auto; */
    padding: 15px;
    max-width: 600px;
    position: absolute;
    right: 100px;
    top: 4px;
    width: 90%;



}

.card-body {
    height: 90%;}

@media only screen and (min-width: 768px) {
    .right_card {
        flex-basis: 55%;
    }
}



.left_card {
    border: none;
    flex-basis: 45%;


}

.card-header {
    border-radius: 10px 20px 30px 40px;
    text-align: center;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control{
    font-size: 13px;
}

.form-check-input:focus {
    box-shadow: none;
}

.btn-primary {
    background-color: #0069d9;

    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.form-check-label a {
    color: #007bff;

}

.form-check-label a:hover {
    color:red ;
}
.form-group label {
    font-weight: bold;
    font-size: 15px;

}

.form-check-label {
    margin-right: 1rem;
}

.form-check-input:checked + .form-check-label:before {
    background-color: #007bff;
    border-color: #007bff;

}

.statut {
    text-align: left;


}

#logo {
    position: absolute;
    top: 30px;
    left: 50px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

#project_name {
    font-size: 47px;
    position: absolute;
    top: 240px;
    left: 122px;
    font-weight: bold;
    color: #1f4068;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

#project_slogan {
    font-size: 34px;
    position: absolute;
    top: 300px;
    left: 196px;
    color: #4a4e69;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

#administratif #prof #etudiant{
    position: absolute; left: 20px;
}
